:root {
    --primary-color: #2e1a47;
    --blue-color: #4285f4;
    --red-color: #db4437;
    --yellow-color: #f4b400;
    --green-color: #0f9d58;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 455px;
    border: 2px solid var(--yellow-color);
    padding: 0.5rem 0.3rem;
    margin: 13px 10px;
    position: relative;
    border-radius: 12px;
    color: #fff;
}

.card-title {
    font-weight: 400;
    text-align: center;
}

.card-description {
    font-weight: 400;
    text-align: center;
}

.card-category {
    font-weight: 400;
    text-align: center;
}

.card-title .card-price {
    font-weight: bold;
}

.image-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    object-fit: cover;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-small {
    width: 60px !important;
    height: 60px !;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.card-price {
    text-align: center;
    display: inline-block;
}

.card-badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--yellow-color);
    transform: translate(50%, -50%) scale(1);
    transition: all 0.3s ease;
    animation: scaleanimation 1s ease infinite;
    opacity: 0.8;
}

.card-badge--hidden {
   display: none;
}

@keyframes scaleanimation {
    to {
        transform: translate(50%, -50%) scale(1.05);
        opacity: 1;
    }
}