:root {
    --primary-color: #2e1a47;
    --blue-color: #4285f4;
    --red-color: #db4437;
    --yellow-color: #f4b400;
    --green-color: #0f9d58;
}

body {
  background-color: var(--blue-color);
}

h1 {
  color: var(--primary-color);
  text-align: center;
}

h4 {
  color: #fff;
  text-align: left;
  margin-left: 5%;
}

.checkout-button-container {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  margin: 2% 10% 2% 10%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}